
html,
body {
    height: 100%;
}

.parent {
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 2%;
    border-radius: 60px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flexBox{
    display: flex;
    justify-content: space-between;
}
.flexcenter{
    display: flex;
    justify-content: center;
}
.flexHorizontal{
    display: flex;
}